<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Mercado Liebre</title>
</head>

<body class="body">
    <header>
        <div class="encabezado">
            <img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            <p><input type="text" placeholder="Search.."></p>
            <i class="fas fa-search"></i>
            <div class="cuotas">
                <p class="alineacion"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul>
                <li> <a href="#">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li> <a href="#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li> <a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burguer-contenedor">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    </header>
    <section class="img__banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de Ofertas">
    </section>
    <main>

        <section class="caja">
            <h3>Basado en tu última visita</h3>
            <article class="articulo">
                <img class="ml__img sombra img__tamaño" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="info-productos">
                    <i class="fa-solid fa-truck icontruck"></i>
                    <div class="conteiner-Price-AND-Desc">
                        <p class="precio">$6.770</p>
                        <p class="des">40% OFF</p>
                    </div>
                </div>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article class="articulo">
                <img class="ml__img sombra img__tamaño" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                <div class="info-productos">
                    <i class="fa-solid fa-truck icontruck"></i>
                    <div class="conteiner-Price-AND-Desc">
                        <p class="precio">$230.000</p>
                        <p class="des">20% off</p>
                    </div>
                </div>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article class="articulo">
                <img class="ml__img sombra img__tamaño" src="/images/img-samsung-galaxy-s10.jpg"
                    alt="Telefono móvil samsung galaxy">
                <div class="info-productos">
                    <i class="fa-solid fa-truck icontruck"></i>
                    <div class="conteiner-Price-AND-Desc">
                        <p class="precio">$70.500</p>
                        <p class="des">10% off</p>
                    </div>
                </div>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article class="articulo">
                <img class="ml__img sombra img__tamaño" src="/images/img-tv-samsung-smart.jpg" alt="SmartTV samsung">
                <div class="info-productos">
                    <i class="fa-solid fa-truck icontruck"></i>
                    <div class="conteiner-Price-AND-Desc">
                        <p class="precio">$23.200</p>
                        <p class="des">5% off</p>
                    </div>
                </div>
                <h4>SmartTv Samsung 43"</h4>
            </article>
            </div>

        </section>
        <section>

            <div class="caja">
                <h3>Ofertas</h3>
                <article class="articulo">
                    <img class="ml__img sombra img__tamaño" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="info-productos">
                        <i class="fa-solid fa-truck icontruck"></i>
                        <div class="conteiner-Price-AND-Desc">
                            <p class="precio">$6.770</p>
                            <p class="des">40% OFF</p>
                        </div>
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </article>
                <article class="articulo">
                    <img class="ml__img sombra img__tamaño" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class="info-productos">
                        <i class="fa-solid fa-truck icontruck"></i>
                        <div class="conteiner-Price-AND-Desc">
                            <p class="precio">$230.000</p>
                            <p class="des">20% off</p>
                        </div>
                    </div>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article class="articulo">
                    <img class="ml__img sombra img__tamaño" src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Telefono móvil samsung galaxy">
                    <div class="info-productos">
                        <i class="fa-solid fa-truck icontruck"></i>
                        <div class="conteiner-Price-AND-Desc">
                            <p class="precio">$70.500</p>
                            <p class="des">10% off</p>
                        </div>
                    </div>
                    <h4>Samsung Galaxy S10</h4>
                </article>
                <article class="articulo">
                    <img class="ml__img sombra img__tamaño" src="/images/img-tv-samsung-smart.jpg"
                        alt="SmartTV samsung">
                    <div class="info-productos">
                        <i class="fa-solid fa-truck icontruck"></i>
                        <div class="conteiner-Price-AND-Desc">
                            <p class="precio">$23.200</p>
                            <p class="des">5% off</p>
                        </div>
                    </div>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <ul type="none">
                <li>
                    <div class="alineacion">
                        <i class="fas fa-credit-card iconfooter"> </i>
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                            ¡Y siempre es seguro!</p>
                    </div>
                </li>
                <li>
                    <div class="alineacion">
                        <i class="fas fa-gift iconfooter"></i>
                        <h4 class="alineacion">Envío gratis desde $ 2.500</h4>
                        <p class="alineacion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                            de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </li>
                <li>
                    <div class="alineacion">
                        <i class="fas fa-user-shield  iconfooter"></i>
                        <h4 class="alineacion">Seguridad, de principio a fin</h4>
                        <p class="alineacion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                            hacer, porque estás siempre protegid@.</p>
                    </div>
                </li>
                <li>
                    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

                </li>
            </ul>
        </section>
    </footer>
</body>

</html>