
.logo-mercado-liebre {
    width: 20%;
    padding: 10px;
}


.img__banner {
    display: none;
}


.nav_bar {
    display: flex;
}

.barra_busqueda {
    display: flex;
    align-items: center;
    position: relative;
    /* Establece la posición relativa para que la posición absoluta funcione dentro de ella */
}


/* Estilos para el campo de búsqueda */
.campo_busqueda {
    padding: 10px 50px 10px 10px;
    /* Ajusta el relleno para hacer la barra de búsqueda más grande y dejar espacio para la lupa */
    font-size: 16px;
    /* Ajusta el tamaño de la fuente para hacer la barra de búsqueda más grande */
    border: 2px solid #ccc;
    /* Añade un borde a la barra de búsqueda */
    border-radius: 5px;
    /* Añade esquinas redondeadas */
    flex: 1;
    /* Hace que el campo de búsqueda ocupe el espacio disponible */
}


/* Estilos para la lupa (imagen) */
.lupa {
    position: absolute;
    /* Posición absoluta en relación con la barra de búsqueda */
    right: 10px;
    /* Ajusta la posición de la lupa a la derecha del campo de búsqueda */
    /*cursor: pointer;*/
}


.alinea {
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

li {
    margin-right: 10px;
    /* Espacio entre elementos de la lista */
    padding: 10px;
}


.register-container {
    background-color: var(--links);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: blue;
}


h5{
    padding: 10px;
    font: 1em sans-serif;
}


.header {
    background-color: #EAC926;
    margin: 0 auto;
    max-width: 1920px;
}


.contenedor-checkbox label{
    display: flex;
    gap: 10px;
}


input[type="text"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;
    display: flex;
    justify-content: center;
}


input[type="email"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;
    display: flex;
    justify-content: center;
}


input[type="date"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: hidden;
    display: flex;
    justify-content: center;
}


input[type="radio"] {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;

}


input[type="checkbox"] {
    display: flex;
    flex-direction: column;

}


label {
    margin-right: 10px;
    /* Espacio entre labels y radio buttons */
    position: relative;
    /* Establece una posición relativa para posicionar la etiqueta detrás del radio button */

}

.contenedor-radio {
    display: flex;
    align-items: center;
    padding: 5%;
}

