* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
}

.logo-mercado-liebre{
    width: 50%;
}

.body {
    background-color: #EAC926;
    margin: 0 auto;
    max-width: 1920px;
}

h3 {
    font-size: 24px;
    display: block;
    width: 100%;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.precio {
    font-size: 18px;
}

.des {
    font-size: 16px;
    color: #39b54a;
    margin-top: 5px;
    margin-left: 30px;
}

.alineacion {
    text-align: center;
}

.info-productos {
    position: relative;
    width: 100%;
}

.conteiner-Price-AND-Desc {
    display: flex;
}

.icontruck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


.img__banner {
    width: 90;
    height: auto;
}


.caja {
    width: 100%;
    /* Ancho de la caja */
    max-width: 1900px;
    /* Ajusta el ancho máximo */
    margin: 10px auto;
    /* Centra horizontalmente */
    /* Margen externo de 10 píxeles */
    padding: 20px;
    /* Espaciado interno de 20 píxeles */
    background-color: #ebebeb;
    /* Color de fondo gris claro */
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*position: relative;*/
}


.sombra {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.img__tamaño {
    height: 300px;
    /* ajusta la altura */
    width: 300px;
    /* ajusta el ancho */
}



.articulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*background-color: var(--bg-secundario);*/
    margin: 10px 0;
    /*border-radius: 10px;*/
}

p {
    font-family: 'Roboto', sans-serif;
}

.burguer-contenedor {
    height: 100%;
    display: flex;
    justify-content: center;
    /* Centra en el eje horizontal */
    align-items: center;
    /* Centra en el eje vertical */
}

.burger-menu {
    background-color: blue;
    /* Fondo azul del cuadrado */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    /* Ajusta el ancho del cuadrado  */
    height: 50px;
    /* Ajusta la altura del cuadrado  */
    border-radius: 8px;
}

.burger-menu i {
    color: white;
    /* Color blanco de las líneas del ícono */
    font-size: 24px;
    /* Ajusta el tamaño del ícono  */
    text-align: center;
}


.iconfooter {
    color: #1259c3;
    font-size: 2em;
}

.ml__img {
    width: 70;
    margin-bottom: 10px;

}



/* Media queries */
@media (max-width: 440px) {
    h4 {
        display: none;
    }
}

/* Media queries */
@media (max-width: 440px) {
    .nav-bar {
        display: none;
    }
    .img__banner{
        display: flex;
        height: 100px;
        width: 350px; 
        justify-content: center;
    }
    .encabezado{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;      
    }
}

/* Media queries */
@media (min-width: 440px) {
    .burguer-contenedor {
        display: none;
    }

    .burger-menu {
        display: none;
    }

    .caja {
        display: flex;
        flex-direction: row;
        /* Cambia la dirección del flex container a columna */
        /*justify-content: flex-star;*/
    }


}